body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

textarea {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.form-inputs {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.error {
  color: red;
}
