.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: white;
  padding: var(--spacing-1) var(--spacing-2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  width: fit-content;
  height: fit-content;

  p {
    height: fit-content;
    padding: 0;
    margin: 0;
  }

  &[type='submit'] {
    padding: 0.66rem var(--spacing-2);
  }
}

.secondary {
  background-color: var(--secondary-color);
}

.tertiary {
  background-color: var(--tertiary-color);
}

.minor {
  background-color: transparent;
  text-decoration: underline;
  color: var(--tertiary-color);
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    height: fit-content;
  }
}

form {
  display: flex;
  flex-direction: column;
}
