.location {
  .button {
    // width: 100%;
    box-sizing: border-box;
  }

  .card {
    box-sizing: border-box;
  }
}

.location-details {
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-areas: 
    'image        tags'
    'description  tags'
  ;
  grid-template-columns: 1fr 1fr;
}

.location-images {
  grid-area: image;
  width: 100%;
  justify-self: center;
}

.location-tags {
  grid-area: tags;

  margin: var(--spacing-2);
}

.location-description {
  grid-area: description;
}

.location-links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-3);
}

.location-card {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .location-details {
    grid-template-areas: 
      'image'
      'description'
      'tags'
    ;
    grid-template-columns: 1fr;
  }
  
}

.bucket-list {
  color: rgb(38, 186, 38);
}
