.menu {
  display: flex;
  
  justify-content: space-between;
  align-items: center;

  justify-self: end;
  gap: var(--spacing-2);
  svg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  
}