.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: var(--spacing-3);

  align-items: start;

  .profile-image {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }

  .profile-name {
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    align-items: start;
    gap: var(--spacing-6);
  }

  .profile-tags{
    box-sizing: border-box;

    margin: var(--spacing-2);
    flex-wrap: wrap;
  }

  .profile-locations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    grid-column: 1 / -1;
  }

  .profile-locations-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}

.profile-user {
  display: flex;
  gap: 10px;
  align-items: center;

  text-decoration: none;
  color: var(--color-text);
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;

    .profile-name {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .profile-locations-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
