body {
  --background-color: #FFF;
  --primary-color: #0083BC;
  --secondary-color: #F79301;
  --tertiary-color: #001B2D;

  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --spacing-4: 3rem;
  --spacing-5: 4rem;
  --spacing-6: 5rem;
}